/* Master Styles*/
body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  align-items: center;
}

/* Navigation Styles */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-wrapper > .right-side > div {
  text-transform: uppercase;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

/* Portfolio Styles */

.section-1-bio {
  display: flex;
  flex-direction: row;
}

.para-text {
  font-size: large;
  line-height: 2rem;
  color: #8a8a8a;
}

h1 {
  font-family: "Stick", sans-serif;
  font-size: 60px;
  text-align: center;
  color: #dce4c0;
}

h1:hover {
  transition: ease-in-out;
  color: #d3e0a4;
}
