/* Master Styles*/
body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  align-items: center;
}

/* Heading */

.heading {
  margin: 2rem 0;
}

/* Navigation Styles */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-wrapper > .right-side > div {
  text-transform: uppercase;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

/* Portfolio Styles */

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.bio-image {
  border-radius: 50%;


}
.para-text {
  font-size: large;
  line-height: 2rem;
  color: #8a8a8a;
  margin:2rem 6rem;
  text-align: center;
}

.sub-heading {
  color: #8a8a8a;
  font-size: xx-large;
  text-align: center;
}

h1 {
  font-family: "Stick", sans-serif;
  font-size: 60px;
  text-align: center;
  color: #dce4c0;
}

h1:hover {
  transition: ease-in-out;
  color: #d3e0a4;
}

/* Gallery page */

.gallery-top-container {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-auto-rows: 100px 300px;
  grid-gap: 10px;
  grid-auto-flow: dense;

}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: .5s, ease-in-out;
}

.gallery-item:hover .image-container img{
  transform: scale(1.2);
}

@keyframes move-down {
  0% {
    top:10%;
  }
  50% {
    top:35%;
  }
  100% {
    top:50%;
  }
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

.w-3 {
  grid-column: span 3;
}

.w-4 {
  grid-column: span 4;
}

.w-5 {
  grid-column: span 5;
}

.w-6 {
  grid-column: span 6;
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.h-3 {
  grid-row: span 3;
}

.h-4 {
  grid-row: span 4;
}

.h-5 {
  grid-row: span 5;
}